# Find the size of a Set in Python

In [2]:
a={"Am","45",123}

b=len(a)

print("Size of a set:",b)

Size of a set: 3

# Iterate over a set in Python

In [8]:
set_1={"One",2,"Three",4,5,6,"Seven",8,9,10}

for i in set_1:
    print(i)

2
4
5
6
8
Three
9
10
One
Seven

# Python – Maximum and Minimum in a Set

In [14]:
set_1={25,87,48,68,99,56,11}

print("Maximum number in a set:",max(set_1))
print("Minimum number in a set:",min(set_1))

Maximum number in a set: 99
Minimum number in a set: 11

# Python – Remove items from Set

In [15]:
set_1={"One",2,"Three",4,5,6,"Seven",8,9,10}

set_1.pop()
set_1

{10, 4, 5, 6, 8, 9, 'One', 'Seven', 'Three'}

# Python – Check if two lists have at-least one element common

In [17]:
s1={1,2,3,4,5,6,7,8,9}
s2={3,4,5,7,10,11}

s3=s1.intersection(s2)
print(s3)

{3, 4, 5, 7}

# Python program to find common elements in three lists using sets

In [21]:
s1=[1,2,3,4,5,6,7,8,9]
s2=[3,4,5,7,10,11]
s3=[3,4,5]

s_1=set(s1)
s_2=set(s2)
s_3=set(s3)

s=s_1.intersection(s_2,s_3)
print(s)

{3, 4, 5}

# Python program to find the difference between two lists

In [26]:
s1={1,2,3,4,5,6,7,8,9}
s2={3,4,5,7,10,11}

s3=s2.difference(s1)
print(s3)

{10, 11}

# Python – Program to accept the strings which contains all vowels

In [39]:
string=input("Enter a word:").lower()
vowels=set("aeiou")
string_1=set(string)

for i in string_1:
    if i in vowels:
        vowels.remove(i)
        
if len(vowels)==0:
    print("All vowels present")
else:
    print("All vowels not present")

Enter a word:elougia
All vowels present

# Python program to convert Set into Tuple and Tuple into Set

In [8]:
#set to tuple
set1={1,"apple",567}
set2=tuple(set1)
print(set2)

#tuple to set
tuple1=("Apple",354,"78.8")
tuple2=set(tuple1)
print(tuple2)

(1, 'apple', 567)
{'Apple', 354, '78.8'}

# Python program to convert set into a list

In [9]:
set1={1,"apple",567}
set2=list(set1)
print(set2)

[1, 'apple', 567]

# Python program to convert Set to String

In [13]:
set1={1,"apple",567}
set2=str(set1)
print(type(set2))
print(set2)

<class 'str'>
{1, 'apple', 567}

# Python program to convert String to Set

In [14]:
string="Apple"
string1=set(string)
print(type(string1))
print(string1)

<class 'set'>
{'e', 'A', 'l', 'p'}